@charset "utf-8";

@font-face {
    font-family: 'CodecPro';
    src: url('fonts/CodecPro-Regular.woff2') format('woff2'),
         url('fonts/CodecPro-Regular.woff') format('woff'),
         url('fonts/CodecPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  /* Estilo responsivo para mobile*/

.header {
    font-family: 'CodecPro';
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 15px;
    margin: -45px;
    padding: 5px;
}

.ponce img {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 400px;  
    left: 100px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.menu ul {
    display: block;
    margin-right: 100px;
}

.menu ul label {
    font-family: 'CodecPro';
    width: 120px;
    font-size: 12pt;
    position: absolute;
    top: 18px;
    left: 410px;
}

.menu ul select {
    font-family: 'CodecPro';
    width: 110px;
    height: 37px;
    position: relative;
    top: 30px;
    right: 20px;
    border-radius: 15px;
    width: 8.5em;
    cursor: pointer;
}

.menu ul select:hover {
    filter: drop-shadow(1px 3px 10px #eb8532a2);
}

#linha1 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    border: 1px solid #cccccc41;
}

body {
    font-family: 'CodecPro';
    text-align: left;
    padding: 5px;
    overflow-x: hidden;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-family: 'CodecPro';
    margin-top: 40px;
    text-align: center;
    font-size: 18pt;
}

.texto {
    font-family: 'COdecPro';
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
}

/* Estilo do formulário */
.form-container {
    font-family: 'CodecPro';
    background-color: #fff;
    box-shadow: 0px 0px 2px 3px #cccccc41;
    border-radius: 20px;
    margin-left: 0.5em;
    margin-right: 1em;
    max-width: 95%;
    height: 82em;
    padding: 15px ;
}

.container {
    margin-left: 0.5em;
}

.container img {
    position: relative;
    width: 150px;
    left: 160px;
    filter: drop-shadow(0px 10px 0px #eb8532a2);
}

.container h5 {
    font-family: 'CodecPro';
    font-size: 18pt;
    position: relative;
    left: 6.5em;
    top: -2em;
}

.email label {
    font-family: 'CodecPro';
    position: relative;
    font-size: 14pt;
    top: -28px;
    left: 55px;
    margin-left: auto;
    margin-right: auto;
    color: #EB8432;
}

.email input {
    position: relative;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #ccc;
    font-size: 12pt;
    width: 400px;
    height: 25px;
    background-color: #cccccc41;
    right: 3px;
    cursor: pointer;
}

.senha label {
    font-family: 'CodecPro';
    position: relative;
    top: 20px;
    left: 55px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14pt;
    color: #EB8432;
}

.senha input {
    position: relative;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #ccc;
    width: 400px;
    height: 25px;
    top: 45px;
    background-color: #cccccc41;
    right: 4px;
    cursor: pointer;
}

#togglePassword {
    position: relative;
    top: 24px;
    left: 420px;
}

.lembrar label {
    font-family: 'CodecPro';
    position: relative;
    top: 49px;
    left: 50px;
}

.lembrar input {
    position: relative;
    top: 50px;
    left: 52px;
    cursor: pointer;
}

.esqueci-senha {
    font-family: 'CodecPro';
    position: relative;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    top: 30px;
    left: 160px;
    cursor: pointer;
}

.esqueci-senha a {
    text-decoration: none;
    color: black;
}

.esqueci-senha a:hover {
    text-decoration: none;
    color: black;
    background-color: #eb8532a2;
    box-shadow: 1px 1px 10px 5px #eb8532a2;
    border-radius: 10px;
    padding: 10px 5px;
    transition: 0.6s;
}

#entrar-button {
    font-family: 'CodecPro';
    font-size: 14pt;
    position: relative;
    width: 180px;
    border-radius: 10px;
    height: 35px;
    top: 160px;
    left: 40px;
    cursor: pointer;
    background-color: #EB8432;
}

#entrar-button:hover {
    background-color: #eb8532a2;
    box-shadow: 1px 1px 2px 5px #eb8532a2;
    transition: 0.6s;
}

#cadastro-button {
    font-family: 'CodecPro';
    font-size: 14pt;
    position: relative;
    width: 180px;
    border-radius: 10px;
    height: 35px;
    top: 125px;
    cursor: pointer;
    background-color: #EB8432;
    left: 270px;
}

#cadastro-button a {
    text-decoration: none;
    color: #000000;
}

#cadastro-button:hover {
    background-color: #eb8532a2;
    box-shadow: 1px 1px 2px 5px #eb8532a2;
    transition: 0.6s;
}

#botao-voltar {
    position: relative;
    top: 150px;
    width: 40px;
    border-radius: 20px;
    transition: 0.6s;
}

#botao-voltar:hover {
    box-shadow: 0px 0px 2px 5px #eb8532a2;
}

#linha2 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 180px;
    border: 1px solid #cccccc41;
}

/* Estilos para o rodapé */

.footer-content {
    display:  block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 100px;
    text-align: center;
}

.footer-section1 h3 {
    position: relative;
    font-size: 15pt;
    font-family: 'CodecPro';
    font-weight: bold;
    top: 100px;
    right: 160px;
}

.logo {
    position: relative;
    width: 200px;
    height: 120px;
    right: 160px;
    top: 55px;        
}

.footer-section2 h3 {
    font-size: 15pt;
    font-family: 'CodecPro';
    position: relative;
    font-weight: bold;
    top: -85px;
    left: 150px;
}

.footer-section2 ul {
    list-style-type: none;
    padding: 0;
}

.footer-section2 ul li {
    position: relative;
    font-size: 15pt;
    top: -80px;
    left: 150px;
}

.footer-section2 ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 5px;
    border-radius: 10px;
}

.footer-section2 ul li a:hover {
    text-decoration: none;
    color: #000000;
    background-color: #eb8532a2;
    box-shadow: 0px 0px 8px 8px #eb8532a2;
    border: 1px solid #EB8432;
    transition: 0.6s;
}

.footer-section3 h3 {
    font-size: 15pt;
    text-align: center;
    position: relative;
    font-family: 'CodecPro';
    font-weight: normal;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    top: -50px;
}

.footer-section3-div0 img {
    position: relative;
    width: 22px;
    top: -60px;
    right: 110px;
}

.footer-section3-div0 h4 {
    font-family: 'CodecPro';
    color: #333;
    position: relative;
    text-align: center;
    top: -104px;
}

.footer-section3-div1 img {
    width: 20px;
    right: 112px;
    position: relative;
    top: -110px;
}

.footer-section3-div1 h5 {
    font-family: 'CodecPro';
    color: #333;
    position: relative;
    text-align: center;
    top: -152px;
    right: 52px;
}

#linha5 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    right: 0px;
    width: 100%;
    border: 1px solid #cccccc41;

}

.cnpj {
    font-family: 'CodecPro';
    left: 8px;
    position: relative;
    top: 10px;
    font-size: 13pt;
}

@media (min-width: 768px) {
    /* estilo para cabeçalho*/

    .header {
        display: flex;
        justify-content: space-between;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .ponce {
        position: relative;
        width: 350px;
        right: 130px;
        margin-top: -20px; 
    }

    .menu ul {
        list-style: none;
    }
    
    .menu ul label {
        font-family: 'CodecPro';
        position: relative;
        width: 129px;
        top: 98px;
        left: 218px;
    }

    .menu ul select {
        font-family: 'CodecPro';
        width: 137px;
        position: relative;
        top: 125px;
        height: 35px;
        left: 100px;
        border-radius: 10px;
    }

    #texto {
        font-family: 'Codecpro', sans-serif;
        width: 440px;
        margin-top: 0px;
    }

    body {
        font-family: 'Codecpro', sans-serif;
        text-align: left;
        padding: 20px 20px 20px;
        overflow-x: hidden;
        margin-left:  auto;
        margin-right: auto;
        max-width: 70%;
    }

    .form-container {
        padding: 30px;
        margin: 5px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 1px 1px 2px #cccccc41;
        height: 70em;
        border-radius: 20px;
    }

    .linha1 {
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        width:  100%;
        border: 1px solid #ccc;
    }

    /* fim do estilo cabeçalho*/

    /* estilo começo do formulario*/
    .container {
        font-family: 'Codecpro', sans-serif;
        display: flex;
        justify-content: space-between;
        width: 900px;
        height: 570px;
    }

    .container img {
        display: flex;
        align-items: center;
        position: relative;
        width: 180px;
        left: 380px;
        margin-top: auto ;
        margin-left: auto;
        margin-right: auto;
    }

    .container h5 {
        display: flex;
        justify-items: center;
        font-family: 'CodecPro';
        position: relative;
        font-size: 25px;
        width: 170px;
        left: 380px;
        margin-left: auto;
        margin-right: auto;
        top: -60px;
    }

    .email label {
        display: flex;
        justify-content: left;
        font-family: 'CodecPro';
        position: relative;
        font-size: 14pt;
        top: 260px;
        left: 100px;
        margin-left: auto;
        margin-right: auto;
        color: #EB8432;
    }

    .email input {
        display: flex;
        justify-content: left;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #ccc;
        width: 400px;
        height: 25px;
        top: 262px;
        left: 99px;
        background-color: none;
        font-size: 12pt;
        padding: 5px;
    }

    .senha label {
        display: flex;
        justify-content: left;
        font-family: 'CodecPro';
        position: relative;
        top: 350px;
        left: -311px;
        font-size: 14pt;
        color: #EB8432;
    }

    .senha input {
        display: flex;
        justify-content: left;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #ccc;
        width: 400px;
        height: 25px;
        top: 355px;
        right: 311px;
        padding: 5px;
        font-size: 12pt;
        background-color: none;
    }

    #togglePassword {
        position: relative;
        top: 330px;
        left: 70px;
        cursor: pointer;
    }

    .esqueci-senha {
        font-family: 'CodecPro';
        position: absolute;
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        top: 720px;
        left: 650px;
    }

    .esqueci-senha a {
        text-decoration: none;
        color: black;
    }

    .esqueci-senha a:hover {
        text-decoration: none;
        color: black;
        background-color: #EB8432;
        border-radius: 10px;
        padding: 10px 5px;
    }

    .lembrar input {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 660px;
        left: 537px;
    }

    .lembrar label {
        position: absolute;
        top: 660px;
        left: 560px;
    }

    #entrar-button {
        position: absolute;
        font-family: 'CodecPro';
        font-size: 14pt;
        width: 200px;
        height: 40px;
        top: 780px;
        left: 500px;
        border-radius: 20px;
    }

    #entrar-button:hover {
        background-color: #eb8532a2;
        box-shadow: 0px 0px 5px 8px #eb8532a2;
    }

    #cadastro-button {
        position: absolute;
        font-family: 'CodecPro';
        font-size: 14pt;
        width: 200px;
        height: 40px;
        top: 780px;
        left: 780px;
        border-radius: 20px;
    }

    #cadastro-button a {
        text-decoration: none;
        color: black;
    }

    #cadastro-button:hover {
        text-decoration: none;
        background-color: #eb8532a2;
    }

    #linha2 {
        position: relative;
        border: 1px solid #cccccc41; 
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        top: 38px;
    }

    #botao-voltar {
        position: relative;
        width: 35px;
        margin-left: auto;
        margin-right: auto;
        top: 25px;
        cursor: pointer;
    }

    /* Estilos para o rodapé inicio*/

    .footer-content {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        top: 25px;
    }

    .footer-section1 h3 {
        position: relative;
        font-family: 'CodecPro';
        font-size: 14pt;
        top: 30px;
        right: 30px;
        font-weight: bold;
    }

    .logo {
        width: 200px;
        height: 120px;
        right: 250px;
        top: 70px;    
    }

    .footer-section2 h3 {
        position: relative;
        font-size: 14pt;
        top: 30px;
        font-family: 'CodecPro';
        font-weight: bold;
        left: -120px;
    }

    .footer-section2 ul {
        list-style-type: none;
        padding: 0;
        margin-left: 0px;
        margin-top: 30px;
    }

    .footer-section2 ul li {
        position: relative;
        font-size: 14pt;
        top: 50px;
        left: -120px;
    }

    .footer-section2 ul li a {
        text-decoration: none;
        color: #333;
        padding: 10px 5px;
        border-radius: 10px;
    }

    .footer-section2 ul li a:hover {
        text-decoration: none;
        color: #000000;
        box-shadow: 0px 0px 8px 8px #eb8532a2;
        transition: 0.6s;
    }

    .footer-section3 h3 {
        position: relative;
        font-size: 15pt;
        top: 25px;
        left: 0px;
        font-family: 'CodecPro';
        font-weight: normal;
        font-weight: bold;
    }

    .footer-section3-div0 img {
        width: 22px;
        top: 30px;
        right: 120px;
    }

    .footer-section3-div0 h4 {
        font-family: 'CodecPro';
        position: relative;
        top: -13px;
        right: 5px;
    }

    .footer-section3-div1 img {
        position: relative;
        width: 20px;
        top: -18px;
        right: 122px;
    }

    .footer-section3-div1 h5 {
        font-family: 'CodecPro';
        position: relative;
        top: -60px;
        right: 58px;
    }

    #linha5 {
        position: relative;
        top: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 100% ;
        border: 1px solid #cccccc41;
    }

    .cnpj {
        font-family: 'CodecPro';
        position: relative;
        font-size: 13pt;
        margin-left: auto;
        margin-right: auto;
        left: 5px;
        top: 10px;
    }
}